body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333333;
}

.header{
    background-color: #F5F3EF;
    padding: 20px 120px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav a {
    text-decoration: none;
    color: #292929;
    font-size: .9em;
    margin: 0 20px;
}

.nav .divider{
    color: #A6A6A6;
    margin-right: 50px;
    opacity: 0.2;
}