:root {
    --primary-color: #292929;
    --secondary-color: #A6A6A6;
    --tertiary-color: #FAF9F7;
    --main-background: #F5F3EF;
    --cta-color: #00AC66;
    --input-color: #EDF2F6;
    --input-border-color: #F0F0F0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333333;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: var(--main-background);
    padding: 20px 120px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.footer {
    padding: 15px 50px;
    text-align: center;
    font-size: .8em;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

.footer p {
    color: var(--primary-color);
    margin-right: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: .9em;
    margin: 0 20px;
}

.nav .divider{
    color: var(--secondary-color);
    margin-right: 50px;
    opacity: 0.2;
}

.mainContainer {
    flex-grow: 1;
    background-color: var(--tertiary-color);
}

.login {
    justify-content: space-between;
    padding:0 0 0 120px;
    display: flex;
}

.mainTitle {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 120px;
    color: var(--primary-color);
    font-weight: 400;
}

.secondaryTitle {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
}

.connexionForm {
    margin-top: 50px;
    width: 300px;
}

.connexionForm label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
    font-size: .9em;
}

.connexionForm input{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

.primaryButton {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--cta-color);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

.connexionForm + p {
    margin-top: 20px;
    font-size: .9em;
    color: var(--secondary-color);
}

.connexionForm + p a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.homepage {
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
    background-color: var(--main-background);
    flex-grow: 1;
}

.homepage .infoSection {
    width: 34%;
    margin-left: 150px;
}

.homepage .infoSection a {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: var(--cta-color);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
}

.homepage .imageSection {
    position: relative;
    width: 50%;
    height: 590px;
    background-image: url('../img/home.png');
    background-size: cover;
    background-position: center;
    margin-right: 200px;
    margin-left: 120px;
}

.homepage .imageSection em {
    position: absolute;
    bottom: -30px;
    right: 0px;
    border-radius: 4px;
    font-size: .9em;
    color: var(--secondary-color);
}

.books-section {
    padding: 40px 120px;
    background-color: var(--tertiary-color);
    flex-grow: 1;
}

.books-section .booksContainer {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    background-color: var(--tertiary-color);
    justify-content: center;
}

.bookCard {
    background-color: #FFFFFF;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bookCard .bookTitle {
    font-size: 1em;
    font-weight: 400;
    margin: 20px 0 5px 0;
    color: var(--primary-color);
}

.bookCard .bookAuthor {
    font-size: .9em;
    color: var(--secondary-color);
    margin: 0;
}

.bookCard .bookDescription {
    font-size: .85em;
    color: var(--secondary-color);
    font-style: italic;
    margin-bottom: 15px;
}

.benefitSection {
    background-color: var(--main-background);
    padding-top: 50px;
    padding-bottom: 100px;
}

.benefitSection p {
    color: var(--primary-color);
    width: 400px;
    margin: auto;
    text-align: center;
}

.benefitSection ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.benefitSection ul li {
    width: 180px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.secondary-cta {
    border: var(--cta-color) 1px solid;
    color: var(--cta-color);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

.imageSection {
    background-image: url('../img/full-width-image.png');
    height: 230px;
    background-size: cover;
}

.valueTitle {
    margin-top: 100px;
}

.valueDescription {
    margin-bottom: 50px;
    margin: 20px auto;
    width: 500px;
    text-align: left;
    font-weight: 300;
}

.our-values {
    position: relative;
    display: flex;
    color: var(--secondary-color);
    font-size: 0.9em;
    font-style: italic;
    width: 500px;
    gap: 40px;
    margin: 0 auto 150px auto;
}

.our-values img {
    position: absolute;
    right: -20px;
}

.books-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 200px;
}
.booksContainer {
    padding: 0 200px 100px 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}

.searchIcon {
    position: absolute;
    margin: 10px;
}

.searchInput {
    padding: 10px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    width: 300px;
    text-indent: 30px;
    color: var(--secondary-color);
}

#bookDetail {
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
    background-color: var(--tertiary-color);
    flex-grow: 1;
}
.bookDetailImage {
    width: 50%;
}

.bookDesc {
    width: 40%;
}

.bookDesc h3 {
    text-align: left;
}

.bookDesc .bookAuthor {
    margin-top: -20px;
    color: var(--secondary-color);
}

.bookDesc hr {
    display: block;
    height: 1px;
    border: 0;
    width: 50px;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.bookDesc h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .8em;
}

.bookDesc .user {
    margin-bottom: 30px;
    font-size: .9em;
    display: flex;
    background-color: white;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
}

.bookDesc .user  img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#account {
    padding: 100px 140px;
    background-color: var(--tertiary-color);
    flex-grow: 1;
}
#account .secondaryTitle {
    text-align: left;
}

.accountCard {
    background-color: #FFFFFF;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    padding-bottom: 50px;
}

.accountInfos {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: var(--primary-color);
}

.userIcon {
    width: 130px;
    height: 130px;
    margin: 50px auto 20px auto;
}

#account .username {
    font-size: 1.2em;
    text-align: center;
    border-top: 1px solid #E0E0E0;
    width: 300px;
    margin: auto;
    padding-top: 50px;
}

.editAccountLink {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: .9em;
    margin-top: 10px;
    margin-bottom: 50px;
    display: inline-block;
    text-decoration: underline;
}

.register-date {
    color: var(--secondary-color);
    font-size: .9em;
}

.library-header {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
}

.library-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.user-info__field {
    margin-bottom: 20px;
}

.rightCard {
    padding: 0 50px;
    margin-left: 40px;
}

.rightCard h6 {
    margin-bottom: 50px;
    font-size: 1em;
    text-align: left;
    font-weight: 400;
}

.userInfoField {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--secondary-color);
    font-size: .9em;
}

.userInfoField label {
    margin-bottom: 5px;
}

.userInfoField input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;
    background-color: var(--input-color);
}   

.myAccount .secondary-cta {
    width: 150px;
    font-size: .9em;
    float: left;
}

.booksTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}
.booksTable thead {
    text-transform: uppercase;
    font-size: .7em;
}

.booksTable th, .booksTable td {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    text-align: left;
}

.booksTable td {
    padding-top: 10px;
    font-size: .9em;
    width: 170px;
}

.booksTable .tag {
    background-color: #C56D6D;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .8em;
}

.booksTable .tag.available {
    background-color: #00AC66;
}

.booksTable .editLink{
    color: var(--primary-color);
    display: inline-block;
    margin-right: 10px;
}

.booksTable .deleteLink{
    color: #C56D6D;
    display: inline-block;
}

#editBook .imgBook {
    display: flex;
    flex-direction: column;
}

#editBook h2 {
    margin: 100px 40px 0 120px;
    text-align: left;
}

#editBook .editBookContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 50px;
}

#editBook .imgBook {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

#editBook .bookDetailImage {
    width: 100%;
}

#editBook .bookDesc {
    color: var(--secondary-color);
    font-size: .9em;
    margin-bottom: 10px;
}

#editBook .editPhoto {
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: end;
    font-size: .9em;
    text-decoration: underline;
}

#editBook .editForm {
    width: 40%;
    margin-top: 40px;
}

#editBook .editForm label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
    font-size: .9em;
}

#editBook .editForm input, #editBook .editForm textarea, #editBook .editForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: var(--input-color);
    border-radius: 4px;
    border: none;
    color: var(--primary-color);
    resize: none;
}

#editBook .editForm select {
    width: 105%;
}

.editForm textarea {
    height: 400px;
}

.editForm .primaryButton {
    width: 150px;
    font-size: .9em;
}

#profile {
    padding: 100px 140px;
    background-color: var(--tertiary-color);
    flex-grow: 1;
}

#messaging {
    display: flex;
    background-color: var(--main-background);
    height: 100%;
}

#messaging .leftBlock {
    width: 30%;
    background-color: white;
    margin-left: 140px;
}

#messaging .leftBlock .primaryButton {
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin: 30px 0 0 30px;
    width: 40px;
    height: 40px;
}

#messaging .secondaryTitle {
    text-align: left;
    font-size: 2em;
    background-color: var(--tertiary-color);
    margin: 0;
    padding: 60px 0 40px 30px;
}

#messaging .rightBlock {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 50px;
    background-color: var(--main-background);
    padding-top: 50px;
    padding-right: 140px;
}

#messaging .rightBlock .user {
    margin-bottom: 30px;
    font-size: .9em;
    display: flex;
    font-weight: bold;
}

#messaging .rightBlock img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#messaging .messageForm {
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    margin-top: auto;
}

#messaging .primaryButton {
    width: 130px;
    font-size: .9em;
}

#messaging .formGroup {
    width: 100%;
}

#messaging .messageForm input {
    width: 100%;
    padding: 10px;
    height: 50px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.messageBubble {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    width: fit-content;
    max-width: 60%;
}

.messageBubble.sent {
    background-color: var(--cta-color);
    color: white;
    margin-left: auto;
}

.messageDate {
    font-size: .7em;
    color: var(--secondary-color);
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top: auto;
    height: 100%;
}

.receivedMessage {
    align-self: flex-end;
    background-color: var(--input-color);
}

.messageDate.right {
    text-align: right;
}

.conversationsList {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.conversationItem {
    padding: 15px 20px;
    cursor: pointer;
}

.conversationItem a{
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.conversationItem img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popupOverlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popupContent {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

.popupContent button {
    margin: 30px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.popupContent select {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: var(--input-color);
    color: var(--primary-color);
}